<div class="tripadvisor">
  <div class="tripadvisor__score">
    <span>{{ badge_title }}</span>
    <small>{{ badge_subtitle }}</small>
  </div>
  <div>
    <div class="tripadvisor__stars">★★★★★</div>
    <small>{{ badge_count }} avis vérifiés</small>
  </div>
  <a class="btn btn-primary" href="{{ badge_link }}" target="_blank" rel="noopener">Voir sur TripAdvisor</a>
</div>
